.App {
  height: 100%;
  width: 100%;
  font-size: large;
  background-color: #000000;
  color: azure;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.resultados{
  font-size: xx-large;
  text-align: right;
}

.boton1 {
  width: 100%;
  height: 60px;
  background-color: #FF5733 ;
  border: 0px;
}
.boton1:hover{
  background-color: #f79d89;
}

.boton {
  width: 25%;
  height: 50px;
  color: white;
  background-color: #000000 ;
  border: 0px;
}
.boton:hover {
  background-color: #5a5a5a;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
